html {
    background: #eee;
}

body {
    margin: 1rem;
}

.row {
    display: flex;
    margin-bottom: 8px;
}
.col {
    margin-right: 8px;
    padding: 0;
}

.bytes {
    border: 1px solid lightgrey;
    height: 25rem;
    flex: 1 0;
}
.assembly {
    border: 1px solid lightgrey;
    height: 25rem;
    flex: 2 0;
}
